* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;

	--primary-color: black;
	--secondary-color: white;
	--tertiary-color-dark: rgba(100, 64, 16, 0.719);
}

body {
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(
		180deg,
		rgb(1, 0, 68),
		rgb(20, 17, 206),
		rgb(1, 0, 68)
	);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

div.board {
	display: grid;
	grid-template-rows: repeat(8, 1fr);

	width: 75vmin;
	height: 75vmin;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border-style: solid;
	border-width: 3vmin;
	border-image: url(imgs/border.jpg) 50 stretch;
	box-shadow: 0.5rem 0.5rem 2.5rem 0.5rem black;
	background-image: url(imgs/boardwood.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.row {
	display: grid;
	grid-template-columns: repeat(8, 12.5%);
}

div.cell {
	display: grid;
	align-items: center;
	justify-content: center;
}

i {
	font-size: 5.5vmin;
	transition: transform 0.1s ease-in-out;
}

i:active {
	transform: scale(1.2);
}

div.row:nth-child(odd) div.cell:nth-child(even),
div.row:nth-child(even) div.cell:nth-child(odd) {
	background: var(--tertiary-color-dark);
}

.rank_8,
.rank_7 {
	color: var(--primary-color);
	text-shadow: 0.1rem 0.1rem rgb(222, 184, 135);
}

.rank_1,
.rank_2 {
	color: var(--secondary-color);
	text-shadow: 0.1rem 0.1rem rgb(143, 119, 89);
}